<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Members Only</title>
  </head>
  <body>
    <% if (locals.user) { %>
    <h1>WELCOME BACK <%= locals.user.username %></h1>
    <a href="/member-status">CHANGE MEMBERSHIP STATUS</a>
    <a href="/log-in/log-out">LOG OUT</a>
    <h2>CREATE A NEW MESSAGE</h2>
    <form action="/message/add" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="text">Message:</label>
      <textarea id="text" name="text" required></textarea>

      <button type="submit">Post Message</button>
    </form>
    
    <% if (errorMessage.length) { %>
      <p><%= errorMessage[0] %></p>
    <% } %>

    <% } else { %>
    <h1>Please Login</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href="/sign-up">Don't have an account? Please sign up.</a>
    <% } %> <% if (errorMessage.length) { %>
    <p><%= errorMessage[0] %></p>
    <% } %>
  </body>
</html>
