<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head", { script: `
  <script>
    function validatePasswords() {
      const password = document.getElementById("password");
      const confirm_password = document.getElementById("confirm_password");
      const error = document.getElementById("error");

      if (password.value === "" && confirm_password.value === "") {
        password.classList.add("is-invalid");
        confirm_password.classList.add("is-invalid");
        error.innerHTML = "✖ Password cannot be empty";
      } else if (password.value === confirm_password.value) {
        password.classList.remove("is-invalid");
        confirm_password.classList.remove("is-invalid");
        password.classList.add("is-valid");
        confirm_password.classList.add("is-valid");
        error.innerHTML = "";
      } else {
        password.classList.add("is-invalid");
        confirm_password.classList.add("is-invalid");
        error.innerHTML = "✖ Passwords do not match";
      }
    }
  </script>
  ` }) %>
  <body class="bg-light d-flex flex-column min-vh-100">
    <div class="container mt-2 mb-1" style="max-width: 400px">
      <h1 class="text-center text-primary">Sign Up</h1>
      <div class="bg-white p-4 rounded shadow-sm">
        <form
          action="/sign-up"
          method="POST"
          onsubmit="return validatePasswords()"
        >
          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input
              id="first_name"
              name="first_name"
              placeholder="First Name"
              type="text"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input
              id="last_name"
              name="last_name"
              placeholder="Last Name"
              type="text"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              id="username"
              name="username"
              placeholder="Username"
              type="text"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              onkeyup="validatePasswords();"
              required
            />
          </div>

          <div class="mb-3">
            <label for="confirm_password" class="form-label"
              >Confirm Password</label
            >
            <input
              id="confirm_password"
              name="confirm_password"
              type="password"
              class="form-control"
              onkeyup="validatePasswords();"
              required
            />
          </div>

          <div class="text-danger mb-3" id="error"></div>

          <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>

        <div class="text-center mt-3">
          <a href="/">Already have an account? Please login.</a>
        </div>
      </div>
    </div>
    <%- include("partials/_footer") %>
  </body>
</html>
